From: https://code.google.com/archive/p/darkstar-profiler/source/default/commits
<div ng-if="srcCtrl.commits" class="ng-scope">
                <h2>Commits</h2>
                  <div ng-if="srcCtrl.commits.commits" class="ng-scope">
                  <table>
                    <tbody>
                      <tr>
                        <th scope="col" width="10%">Author</th>
                        <th scope="col" width="15%">Date</th>
                        <th scope="col" width="10%">Commit</th>
                        <th scope="col">Message</th>
                      </tr>
                      <!-- ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Jun 16, 2009</td>
                        <td class="ng-binding">65</td>
                        <td class="ng-binding">- Some very old changes need to be committed.</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Dec 10, 2008</td>
                        <td class="ng-binding">64</td>
                        <td class="ng-binding">Edited wiki page through web user interface.</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Dec 10, 2008</td>
                        <td class="ng-binding">63</td>
                        <td class="ng-binding">Edited wiki page through web user interface.</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Dec 10, 2008</td>
                        <td class="ng-binding">62</td>
                        <td class="ng-binding">Edited wiki page through web user interface.</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Dec 10, 2008</td>
                        <td class="ng-binding">61</td>
                        <td class="ng-binding">Edited wiki page through web user interface.</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Dec 10, 2008</td>
                        <td class="ng-binding">60</td>
                        <td class="ng-binding">Created wiki page through web user interface.</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Dec 10, 2008</td>
                        <td class="ng-binding">59</td>
                        <td class="ng-binding">Created wiki page through web user interface.</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Dec 10, 2008</td>
                        <td class="ng-binding">58</td>
                        <td class="ng-binding">Edited wiki page through web user interface.</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Dec 10, 2008</td>
                        <td class="ng-binding">57</td>
                        <td class="ng-binding">Edited wiki page through web user interface.</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Dec 10, 2008</td>
                        <td class="ng-binding">56</td>
                        <td class="ng-binding">Created wiki page through web user interface.</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Dec 10, 2008</td>
                        <td class="ng-binding">55</td>
                        <td class="ng-binding">- New version 0.0.5, added many report details.</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Dec 10, 2008</td>
                        <td class="ng-binding">54</td>
                        <td class="ng-binding">- Added support for log-records (gathered as the server runs and attached to the</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Dec 8, 2008</td>
                        <td class="ng-binding">53</td>
                        <td class="ng-binding">- minor updates to the GUI</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Dec 8, 2008</td>
                        <td class="ng-binding">52</td>
                        <td class="ng-binding">- Actually got the class name of the throwable into the reports.</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Dec 8, 2008</td>
                        <td class="ng-binding">51</td>
                        <td class="ng-binding">- Remember the -Xmx512M to ensure heapspace.</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Dec 8, 2008</td>
                        <td class="ng-binding">50</td>
                        <td class="ng-binding">- Added a viewer-script to easy the viewing of profile-data.</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Dec 1, 2008</td>
                        <td class="ng-binding">49</td>
                        <td class="ng-binding">- Now the listener has a shaded version too</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Dec 1, 2008</td>
                        <td class="ng-binding">48</td>
                        <td class="ng-binding">- load from command line</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Dec 1, 2008</td>
                        <td class="ng-binding">47</td>
                        <td class="ng-binding">- Made RawThrowable carry the class name of the original exception.
- Made it po</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Oct 9, 2008</td>
                        <td class="ng-binding">46</td>
                        <td class="ng-binding">- ignore settings file</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Oct 9, 2008</td>
                        <td class="ng-binding">45</td>
                        <td class="ng-binding">Removed eclipse specific things, and ignore them too</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Oct 9, 2008</td>
                        <td class="ng-binding">44</td>
                        <td class="ng-binding">Removed legacy project, use child projects from now on</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Oct 9, 2008</td>
                        <td class="ng-binding">43</td>
                        <td class="ng-binding">- Completed the separation of viewer and listener using the "common" project as </td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Oct 9, 2008</td>
                        <td class="ng-binding">42</td>
                        <td class="ng-binding">- depend on darkstar-profiler-common to get access to report classes</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Oct 9, 2008</td>
                        <td class="ng-binding">41</td>
                        <td class="ng-binding">- ignore target-folder
- moving things into place</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Oct 9, 2008</td>
                        <td class="ng-binding">40</td>
                        <td class="ng-binding">Moved to correct package</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Oct 9, 2008</td>
                        <td class="ng-binding">39</td>
                        <td class="ng-binding">Moving source-code around</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Oct 9, 2008</td>
                        <td class="ng-binding">38</td>
                        <td class="ng-binding">Added source directories</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Oct 9, 2008</td>
                        <td class="ng-binding">37</td>
                        <td class="ng-binding">Setup the new poms</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Oct 9, 2008</td>
                        <td class="ng-binding">36</td>
                        <td class="ng-binding">initial pom.xml</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Oct 9, 2008</td>
                        <td class="ng-binding">35</td>
                        <td class="ng-binding">initial pom.xml</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Oct 9, 2008</td>
                        <td class="ng-binding">34</td>
                        <td class="ng-binding">initial pom.xml</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Oct 9, 2008</td>
                        <td class="ng-binding">33</td>
                        <td class="ng-binding">- Not a good idea anyway</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Oct 9, 2008</td>
                        <td class="ng-binding">32</td>
                        <td class="ng-binding"></td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Oct 9, 2008</td>
                        <td class="ng-binding">31</td>
                        <td class="ng-binding"></td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Oct 9, 2008</td>
                        <td class="ng-binding">30</td>
                        <td class="ng-binding"></td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Oct 9, 2008</td>
                        <td class="ng-binding">29</td>
                        <td class="ng-binding"></td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Oct 9, 2008</td>
                        <td class="ng-binding">28</td>
                        <td class="ng-binding"></td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Oct 8, 2008</td>
                        <td class="ng-binding">27</td>
                        <td class="ng-binding">minor cleanup</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Oct 3, 2008</td>
                        <td class="ng-binding">26</td>
                        <td class="ng-binding">- fixed the order of the series (successfull are now at the bottom, failed at th</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Oct 3, 2008</td>
                        <td class="ng-binding">25</td>
                        <td class="ng-binding">- Super nice timeline with tooltips and zoom (even rectangle zoom)</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Oct 3, 2008</td>
                        <td class="ng-binding">24</td>
                        <td class="ng-binding">- Added source code to jFreeChart
- Greatly improved the time-line using the nic</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Oct 2, 2008</td>
                        <td class="ng-binding">23</td>
                        <td class="ng-binding">Now with a nice Timeline (based on jfreechart, that I unfortunately had to inclu</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Oct 1, 2008</td>
                        <td class="ng-binding">22</td>
                        <td class="ng-binding">- Greatly improved the contention panel by making it "one way"-only
- Added supp</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Oct 1, 2008</td>
                        <td class="ng-binding">21</td>
                        <td class="ng-binding">- Organized imports.</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Sep 28, 2008</td>
                        <td class="ng-binding">20</td>
                        <td class="ng-binding">Created wiki page through web user interface.</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Sep 28, 2008</td>
                        <td class="ng-binding">19</td>
                        <td class="ng-binding">Created wiki page through web user interface.</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Sep 28, 2008</td>
                        <td class="ng-binding">18</td>
                        <td class="ng-binding">- Silly bug, missing negation (!).</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Sep 28, 2008</td>
                        <td class="ng-binding">17</td>
                        <td class="ng-binding">- Silly bug, missing negation (!).</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Sep 28, 2008</td>
                        <td class="ng-binding">16</td>
                        <td class="ng-binding">- "more" correct counting of accessed objects.</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Sep 28, 2008</td>
                        <td class="ng-binding">15</td>
                        <td class="ng-binding">- Ignore the properties file saved between executions.</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Sep 28, 2008</td>
                        <td class="ng-binding">14</td>
                        <td class="ng-binding">- Added support for SGS-properties
- Added support for choosing output directory</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Sep 26, 2008</td>
                        <td class="ng-binding">13</td>
                        <td class="ng-binding">- Added conflicting tasks to the Contention panel
- General cleanup of things
- </td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Sep 25, 2008</td>
                        <td class="ng-binding">12</td>
                        <td class="ng-binding">- Niced up the contention panel to use a JTable directly.</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Sep 25, 2008</td>
                        <td class="ng-binding">11</td>
                        <td class="ng-binding">- Added an Exception Panel (grouped by Exception class)
- Added a Task panel (gr</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Sep 24, 2008</td>
                        <td class="ng-binding">10</td>
                        <td class="ng-binding">- Actually identify contention - and not just accessed objects on failed tasks :</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Sep 22, 2008</td>
                        <td class="ng-binding">9</td>
                        <td class="ng-binding">- Finally got the filters to work!</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Sep 22, 2008</td>
                        <td class="ng-binding">8</td>
                        <td class="ng-binding">- Improved GUI
- Hacked a little to get access to some info about what was reall</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Sep 22, 2008</td>
                        <td class="ng-binding">7</td>
                        <td class="ng-binding">- Fixed missing constructor in ProfileListener
- Added some actual accessed obje</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Sep 22, 2008</td>
                        <td class="ng-binding">6</td>
                        <td class="ng-binding">- Added a test-folder</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Sep 22, 2008</td>
                        <td class="ng-binding">5</td>
                        <td class="ng-binding">- Compatible with Darkstar 0.9.8-SNAPSHOT</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Sep 22, 2008</td>
                        <td class="ng-binding">4</td>
                        <td class="ng-binding">dependency added</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Sep 22, 2008</td>
                        <td class="ng-binding">3</td>
                        <td class="ng-binding">initial pom.xml and src commit.</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding">greisen</td>
                        <td class="ng-binding">Sep 22, 2008</td>
                        <td class="ng-binding">2</td>
                        <td class="ng-binding">Initial import.</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits --><tr ng-repeat="commit in srcCtrl.commits.commits" class="ng-scope">
                        <td class="ng-binding"></td>
                        <td class="ng-binding">Sep 22, 2008</td>
                        <td class="ng-binding">1</td>
                        <td class="ng-binding">Initial directory structure.</td>
                      </tr><!-- end ngRepeat: commit in srcCtrl.commits.commits -->
                    </tbody><tbody>
                  </tbody></table>

                  <div>
                    <pager-widget current-page="srcCtrl.commits.Page" total-pages="srcCtrl.commits.TotalPages" get-url-for-page="srcCtrl.getSubrepoSourceCommitsPageUrl" class="ng-isolate-scope"><!-- ngIf: totalPages != 1 -->
</pager-widget>
                  </div>
                </div><!-- end ngIf: srcCtrl.commits.commits -->
              </div>